
body{
    width: 100%; 
	height:700px;
	color:white;
	margin: 0;
	padding-bottom:100px;
}

body.accueil{
    background: url('accueil.avif') no-repeat center/cover;
	background-attachment: fixed;
}

body.bio{
    background: url('bio.avif') no-repeat center/cover;
	background-attachment: fixed;
}

body.cv{
    background: url('cv.avif') no-repeat center/cover;
	background-attachment: fixed;
}

body.projet{
    background: url('projet.avif') no-repeat center/cover;
	background-attachment: fixed;
}

header {
	position: sticky;
	top: 15px;
    line-height: 70px;
    width: 80%;
    background-color: black;
    border-radius: 50px;
    text-align: center;
    margin: auto;
}

header ul{
	margin-left: 50px;
}

header li {
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    margin-right: 8%;
    font-size: 28px;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: blue;
    border-bottom: 3px solid #fef5e7;
	transition: all 0.3s ease-in-out;
}

header .lien {
    border-bottom: 2px solid white;
}

header .telephone{
	margin-left:5px;
	width:15px;
}

header .hover-box {
    display: none;
    position: absolute;
    top: 100%; 
    left: 67%;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    font-size: 1vw;
    text-align: left;
    text-transform: none;  
}

header .hover-box ul {
    padding: 0; 
    margin: 0;
    line-height: 20px;
}

header .contact .hover-box li {
    font-size: 1vw;
    margin: 5px; 
    text-transform: none;
}

header .contact:hover .hover-box {
    display: block;
}


section {
    max-width: 85%;
    margin: auto;
    padding: 15px;
    border-radius: 20px;
    border: 3px solid black;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

article {
	position: relative;
	bottom: 35px;
    flex: 1 1 55%;
	height:500px;
    min-width: 300px;
    margin: auto;
	padding-left:20px;
    border-radius: 20px;
    box-sizing: border-box;
	z-index: -1;
}

section .cv-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

article .cv1, article .cv2{
	height:480px;
    flex: 1;
    max-width: 48%;
    padding: 15px;
    box-sizing: border-box;
	font-size: 20px;
	margin-bottom: -18%;
}

article .cv1{
	position: relative;
	bottom:2%;
}

article .cv2{
	position: relative;
	bottom:63%;
	left:50%;
}

article .cv2-3{
	position: relative;
	bottom: 70px;
	left: 150px;
}

article .none{
	list-style: none;
}

article h1{
	font-size:40px;
}

article p{
	font-size:26px;
	line-height: 2;
}

article p1{
	font-size:20px;
	line-height: 1;
}

article p2{
	font-size:20px;
	line-height: 1.5;
}

article img{
	position:relative;
	bottom:12%;
	left: 18%;
	width:50%;
}

aside img {
    width: 100%;
	margin:auto;
    max-width: 500px;
    display: block;
    border: 3px solid black;
    border-radius: 20px;
}

footer {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-top: 3px solid black;
    margin-top: 20px;
}

footer p {
    font-size: 18px;
	margin-bottom: 10px;
}

footer li{
	list-style: none;
    display: inline-block;
}

footer img {
    width: 50px;
    margin: 5px;
    vertical-align: middle;
}

footer ul {
    padding: 0;
    margin: 0;
}

.heberg{
	text-align:center;
}

@media (min-width: 780px) and (max-width: 1916px) {
	section {
        flex-direction: column;
        align-items: center;
    }
	
	article img{
		display:none;
	}
	
	aside{
		margin:auto;
	}
	
	article .cv2{
		bottom: 350px;
	}
	
	article .cv1, article .cv2 {
		margin-bottom:-150px;
	}
}

@media (max-width: 780px) {
    header li {
        font-size: 20px;
        margin-right: 3%;
    }
	
	header ul{
		margin-left: 25px;
	}

	header .telephone{
	margin-left:4px;
	width:12px;
}
	
	header a2 .hover-box {
        max-width: 55%;
		left: 50%;
        font-size: 3vw;
    }

    header .contact .hover-box li {
        font-size: 3vw;
    }

    section {
        flex-direction: column;
        align-items: center;
    }

    article {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }
	
	article .cv1, article .cv2{
		font-size: 18px;
		margin-bottom:0;
	}
	
	article .cv2{
		bottom: 500px;
	}
	
	article .cv1, article .cv2 {
		margin-bottom:0;
	}
	
	article .cv2-3{
		position: relative;
		bottom: 0px;
		left: 0%;
	}
	
	article h1 {
        font-size: 30px;
    }

    article p {
        font-size: 20px;
    }
	
	article p1, article p2 {
        font-size: 18px;
    }
	
	article img{
		display:none;
	}
	
    aside img {
        max-width: 80%;
    }

    footer img {
        width: 30px;
    }

    footer p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
	
	header{
		text-align:left;
	}
	
	header ul{
		margin-left:-10px;
	}
	
    header li {
        font-size: 14px;
        margin-right: 2%;
    }
	
	header .telephone{
		margin-left:2px;
		width:8px;
	}
	
	header .contact .hover-box {
        max-width: 60%;
		left: 37%;
        font-size: 2.5vw;
    }

    header .contact .hover-box li {
        font-size: 2.5vw;
    }
	
	article{
		position: relative;
		bottom: 0;
	}
	
	article .cv1, article .cv2{
		font-size: 16px;
	}
	
	article .cv2{
		position: relative;
		bottom: 500px;
	}
	
	article .cv2-3{
		position: relative;
		bottom: 0px;
		left: 0%;
	}
	
	article h1 {
        font-size: 24px;
    }

    article p {
        font-size: 18px;
    }
	
	article p1, article p2 {
        font-size: 16px;
    }

    footer img {
        width: 30px;
    }

    footer p {
        font-size: 14px;
    }
}
